{% load static %}
<div class="sidebar p-3 bg-white shadow-sm position-fixed">
    <div class="text-center mb-3">
        <img src="{% static 'images/logo.png' %}" alt="Company Logo" class="img-fluid" style="max-width: 150px;">
    </div>
    <div class="list-group">
        <a href="{% url 'home' %}" class="list-group-item list-group-item-action"> Home</a>
        <a href="{% url 'portfolio' %}" class="list-group-item list-group-item-action"> Competency</a>
        <a href="{% url 'tasks' %}" class="list-group-item list-group-item-action"> Tasks</a>
        <a href="{% url 'submissions' %}" class="list-group-item list-group-item-action"> Create Submission </a>
        <a href="{% url 'messages' %}" class="list-group-item list-group-item-action">Messages</a>
        {% if request.session.is_line_manager %}
        <a href="{% url 'team_dashboard' %}" class="list-group-item list-group-item-action">Team View</a>
      {% endif %}
    </div>
</div>



